:root {
  --bg: #f0f0f0;
  --surface: #ffffff;
  --text: #252525;
  --muted: #6b6b6b;
  --border: #e0e0e0;
  --accent: #6c63ff;
}

.dark {
  --bg: #1e1e1e;
  --surface: #252525;
  --text: #f0f0f0;
  --muted: #b5b5b5;
  --border: #3a3a3a;
  --accent: #8f88ff;
}
