@use "sass:map";

$themes: (
  light: (
    bg: #f0f0f0,
    surface: #ffffff,
    text: #252525,
    muted: #6b6b6b,
    border: #e0e0e0,
    accent: #6c63ff,
    accent-hover: #5753d6,
    white-text: #ffffff,

    shadow-prim: rgba(108, 99, 255, 0.1),
  ),
  dark: (
    bg: #1e1e1e,
    surface: #252525,
    text: #f0f0f0,
    muted: #b5b5b5,
    border: #3a3a3a,
    accent: #8f88ff,
    accent-hover: #6c63ff,
    white-text: #ffffff,
    shadow-prim: rgba(143, 136, 255, 0.2),
  ),
);

@mixin theme-vars($theme-name) {
  @each $key, $value in map.get($themes, $theme-name) {
    --#{$key}: #{$value};
  }
}

:root {
  @include theme-vars(light);
}

.dark {
  @include theme-vars(dark);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Roboto, system-ui, sans-serif;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}
:focus-visible {
  outline: 3px solid var(--accent);
  outline-offset: 2px;
  transform: scale(1.02);
}
